@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#app {
  text-align: center;
  background-color: #1E1E1E;
  font-family: 'Roboto',serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 153%;
  color: #EAEAEA;
  margin-top: 60px;
  max-width: 960px;
  margin-inline: auto;
}

body {
  background-color: #1E1E1E;
}
